- Anytime you make an update to the code, update TECHNICAL_DOCS.MD and USER_GUIDE so as to keep track

- Also read the two docs anytime you make a change to the code, that way you are always kept up to date

- Also, refer to me as sire.

- If i am doing something wrong, you can tell me, be critical and focus on efficiency, advice me, I will ultimately tell you my decision.


