- Anytime you make an update to the code, update TECHNICAL_DOCS.MD and USER_GUIDE so as to keep track

- Also, refer to me as sire.

- I like for you to tell me what change you'll make, then ask me if it's ok to make the change, that way, I can guide you on what to do.

- If i am doing something wrong, you can tell me, be critical and focus on efficiency, advice me, I will ultimately tell you my decision.


